# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db
Making_docker_container.txt
OLD_docker.file

# Jekyll
.jekyll-metadata
Gemfile.lock
_site/
.sass-cache/
.jekyll-cache/
.bundle/
vendor/
**/.DS_Store

# vsCode
.vscode/*
.vscode/settings.json
